.Chat-main__message-list__box-ru{data: {message: {id: message.id}}}
  .Chat-main__message-list__box-ru__flex
    .Chat-main__message-list__box-ru__messages
      = message.user.name
    .Chat-main__message-list__box-ru__messages__days
      = message.created_at.strftime("%Y年%m月%d日 %H時%M分")
  .Chat-main__message-list__box-ru__messages__days__content
    - if message.content.present?
      = message.content
    = image_tag message.image.url, class: 'Message__image' if message.image.present?
