.Side-bar
  .Side-bar__user-name
    %ul.Top-items
      %li.Top-items__name
        masa
    = link_to "#" do
      = icon('fas', 'edit', class: 'pen')
    = link_to "#" do
      = icon('fas', 'cog', class: 'kikai')
  .Side-bar__group-list
    .Side-bar__box
      %ul.group__name
        techcamp
      %ul.group__messages
        まだメッセージがありません