.wrapper
  = render "side_bar"
  = render "main_chat"

-# .top-boxes
-#   .top-boxes__left
-#   .top-boxes__center
-#   .top-boxes__right
-# %br
-# .bottom-boxes
-#   .bottom-boxes__left
-#   .bottom-boxes__center
-#   .bottom-boxes__right
-#     .bottom-boxes__right--blue